@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.Link{
    text-decoration: none;
}

.pokemon {
    flex-basis:20%;
    height:400px;
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonImage{
    margin-top:1rem;
    height:150px;
    max-height:80%;
    max-width:200px;

}



.pokemon:hover{
    background-color:beige;
}